
#book-list {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  background-color: #6c0163; /* Sets the background color of the book-list */
  border: 2px solid #342c2c; /* Sets the border color and size of the book-list */
  padding: 10px; /* Adds some padding inside the book-list for better aesthetics */
  gap: 10px; /* Adds gap between grid items */
}

/* Remove or scope div styles more specifically */
#book-list div {
  border: 2px solid #0d620d;
  padding: 10px;
  gap: 10px;
}


#add-book-form{
  display: none;
  grid-auto-rows: fit-content(100px);
  grid-auto-columns: fit-content(100px);
  align-items: center;
}

